.header{

}

.header_img{
    /*position: relative;*/
    width: 1500px;
    height: 250px;
}

.footer_img{
    position: relative;
    width: 1500px;
    height: 250px;
    top: 20px;
}
.text_area{
    height: 50px;
}
.form{
    position: relative;
    left: 40%;
    width: 400px;
}

